@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS  */
  --base: #121618;
  --helper: #FFC851;
  --text: #F7FFFF;
  --dark: #686A6B;
  /* FONTSIZES */
  --ex-small: 13px;
  --small: 14px;
  --medium: 16px;
  --big: 18px;
  --sbig: 32px;
  /* TIMES */
  --fast: 300ms;
  --medium: 450ms;
  --slow: 850ms;
  --second: 1s;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.narrow {
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  
}